* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid red;
    font-family: Arial;
    color: #b3b3b3;
}

body {
    background-color: #121212
}

/* Text Elements */
.navigation {
    color: #1ED761;
    display: block;
}

h1 {
    color: #ffffff
}

h2, p, ul, ol {
    padding: 0px 0px 10px;
}

ul, ol {
    padding-left: 20px;
}

/* Partitions */
.city {
    margin: 20px;
}

.building {
    margin: 0px 0px 20px;
}





