@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-size: 16px;
    overflow-y: scroll;
}

body {
    color: #b3b3b3;
    background-color: #121212;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}

/* Text Elements */
.navigation {
    color: #1ED761;
    display: block;
}

h1, h2 {
    color: #F8F8F8;
}

h2, p, ul, ol {
    padding: 0 0 1rem;
}

ul, ol {
    padding-left: 1rem;
}

a {
    text-decoration: none;
    color: #1ED761;
}

/* Partitions */
.top {
    border-bottom: 1px solid #b3b3b3;
    background-color: #121212;
    position: sticky;
    top: 0;
}

.navbar {
    width: 85%; 
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar .left {
    font-family: "Google Sans Code", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar .right {
    display: flex;
    gap: 2rem;
}

.province {
    width: 85%; 
    margin: 0 auto;
}

h1.city {
    margin: 2rem 1rem;
    font-style: italic;
}

.city {
    margin: 1rem;
}

/* Raid */
.city.raid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.raid .building {
    width: 23rem;
}

.raid .building img {
    width: 23rem;
    height: auto;
    border: 1px solid #F8F8F8;
}


