* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    font-size: 16px;
}

body {
    color: #b3b3b3;
    background-color: #121212;
    font-family: Arial;
    line-height: 1.5rem;
}

/* Text Elements */
.navigation {
    color: #1ED761;
    display: block;
}

h1, h2 {
    color: #ffffff;
}

h2, p, ul, ol {
    padding: 0 0 1rem;
}

ul, ol {
    padding-left: 1rem;
}

a {
    color: #1ED761;
}

/* Partitions */
.province {
    min-width: 600px;
    width: 80%; 
    margin: 0 auto;
}

.city {
    margin: 1.5rem;
}

/* Raid */
.city.raid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.raid .building {
    width: 23rem;
}

.raid .building img {
    width: 23rem;
    height: auto;
}





